# Ignore Vagrant local state
.vagrant/

# Ignore macOS metadata files
.DS_Store

# Ignore blueprint and test directories
archive/
test*/
*.zip
redhat-test/

# ignore .txt comment for notes 
*.txt

# remove public key from the repo
ssh_keys/

# Ignore .drawio file 
*.drawio
